<a href="https://colab.research.google.com/github/kimsunyeon/kimsunyeon/blob/main/Chapter4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
'나는' + str(12) + '개의 사과를 먹었다.'

'나는12개의 사과를 먹었다.'

In [4]:
str = input("문자열을 입력하시오: ")
s = str[0:2] + str[-2: ]

print(s)

문자열을 입력하시오: 25
2525

In [5]:
s = input("문자열을 입력하시오: ")
s += "하는 중"
print(s)

문자열을 입력하시오: 13
13하는 중

In [6]:
str = input("기호를 입력하시오: ")
word = input("중간에 삽입할 문자열을 입력하시오: ")
s = str[:1] + word + str[1:]

print(s)

기호를 입력하시오: >
중간에 삽입할 문자열을 입력하시오: 12
>12

In [7]:
lista = [1, 2, 3, 4]
sum = 0
sum = lista[0] + lista[1] + lista[2] + lista[3]
print("리스트 = ", lista)
print("리스트 숫자들의 합 = ", sum)

리스트 =  [1, 2, 3, 4]
리스트 숫자들의 합 =  10

In [13]:
year = input("오늘의 연도를 입력하시오: ")
month = input("오늘의 월을 입력하시오: ")
date = input("오늘의 일을 입력하시오: ")

print(month+"/", date+"/", year)

오늘의 연도를 입력하시오: 2021
오늘의 월을 입력하시오: 12
오늘의 일을 입력하시오: 04
12/ 04/ 2021

In [14]:
import time

now = time.time()
thisYear = int(1970 + now//(365*24*3600))

print("올해는 ",thisYear,"입니다.")
age = int(input("몇 살이신지요? "))
print("2050년에는 ", (age+2050-thisYear),"살 이시군요.")

올해는  2021 입니다.
몇 살이신지요? 20
2050년에는  49 살 이시군요.